SimpleSoapJmsClient/ejb/src/main/resources/META-INF/wsdl/TestWebService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-)
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://soap.ejb.server.simplesoapjms.messaging.softwareaggov.com/" version="1.0"
           targetNamespace="http://soap.ejb.server.simplesoapjms.messaging.softwareaggov.com/">

    <xs:element name="processAndReply" type="tns:processAndReply"></xs:element>

    <xs:element name="processAndReplyResponse" type="tns:processAndReplyResponse"></xs:element>

    <xs:element name="processOneWay" type="tns:processOneWay"></xs:element>

    <xs:complexType name="processOneWay">
        <xs:sequence>
            <xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="processAndReply">
        <xs:sequence>
            <xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="processAndReplyResponse">
        <xs:sequence>
            <xs:element name="result" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>