j2ee-jms-examples/j2ee-jms-examples-client/ejb/src/main/resources/META-INF/wsdl/RequestReplyService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema version="1.0" targetNamespace="http://com.softwareaggov.messaging/j2ee-jms-examples/requestreply" xmlns:tns="http://com.softwareaggov.messaging/j2ee-jms-examples/requestreply" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="getRandomNumber" type="tns:getRandomNumber"/>

    <xs:element name="getRandomNumberResponse" type="tns:getRandomNumberResponse"/>

    <xs:element name="performMultiplicationFromStrings" type="tns:performMultiplicationFromStrings"/>

    <xs:element name="performMultiplicationFromStringsResponse" type="tns:performMultiplicationFromStringsResponse"/>

    <xs:complexType name="getRandomNumber">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="getRandomNumberResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:long" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="performMultiplicationFromStrings">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
            <xs:element name="arg1" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="performMultiplicationFromStringsResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>